:root {
    --backgroundColor: #117547;
    --backgroundImage: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23135235' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230A311E'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
    --navbarColor: #ffffff;
    --scrollColor : rgba(0,0,0,0.4);
}

body {
    background-color: var(--backgroundColor);
    background-image: var(--backgroundImage);
    transition: background-color 0.5s ease;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: 117547;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollColor);
    border-radius: 20px;
    border: 1px solid var(--scrollColor);
}

a {
    text-decoration: none !important;
}

.btn:focus {
    box-shadow: none !important;
}
.btn-close:focus {
    box-shadow: none !important;
}

.p-color {
    color: var(--navbarColor) !important;
}

.bg-glass {
    background: rgba(255, 255, 255, 0) !important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border-radius: 10px !important;
}


/*Estilos para el offcanvas*/
.offcanvas-title,
.btn-close {
    color: white;
}

.dark-glass {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.list .list-item {
    display: flex;
    gap: 1rem;
    color: white;
    margin: .5rem 0 .5rem 0;
    padding: 0 .5rem 0 .5rem;
}

.list .list-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.invert-color {
    filter: invert(100%);
}

.sidebar-icon {
    width: 10%;
    height: 10%;
}

.k {
    color: #27b1e3;
}

.s {
    color: #aa65e8;
}

.f {
    color: #d14744;
}

.p {
    color: #f99b01;
}

.t {
    color: #89ca1e;
}



/*Estilos para el dropdown de personalización*/
.customize-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: .5rem;
}

.dropdown-header h5 {
    color: white;
}

.customize-div div {
    width: 2.1rem;
    height: 2.1rem;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    cursor: pointer;
}

/*estilos para el modal de opciones de juego*/
#optionsModal{
    color: white;
}
.modal-content{
    border: 3px solid rgb(202, 202, 202);
    background-color: #0d3b76;
}

#optionsModal .modal-header{
    border-bottom: none;
    justify-content: center;
}

#optionsModal .modal-footer{
    border-top: none;
    justify-content: center;
}

#optionsModal .form-check{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    font-size: 1.4rem;
    padding-left: 1.7em !important;
    margin: .5rem 0 .5rem 0;
    cursor: pointer;
}

#optionsModal .form-check input,
#optionsModal .form-check label{
    cursor: pointer;
}

/*Estilos para el footer*/
#showOptionsModal i{
    font-size: 1.5rem;
}
#showOptionsModal .title-option{
    margin: 0;
}

/*Estilos para los creditos*/
.credits{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    color: white;
}
