body {
    background-color: #117547;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23135235' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230A311E'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../icons/toggler-icon.svg);
}

.bg-glass{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.mazoVisible {
    grid-area: 1 / 2 / 2 / 4;
}

.mazoVisible img {
    position: relative;
    left: 106px;
    margin-left: -106px;
}

.mazoVisible img:nth-last-child(n+4) {
    display: none;
}

.tablero div .cards {

    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;


    width: 127.5px;
    height: 194.84px;
}

.secc2 .cards:nth-child(n+8) img {
    margin-top: -150%;
}

.secc2 img {
    position: relative;
    top: 168px;
    margin-top: -130%;
}

.secc2 img[show="false"]:not([show="true"]) {
    margin-top: -138%;
}

#newCard,
.activo {
    cursor: pointer;
}

.selected {
    filter: drop-shadow(0px 0px 10px #75FF00);
}

.cards.palos {
    position: relative;
}

.cards.palos img {
    position: absolute;
}

.sidebar-icon{
    width: 10%;
}

/*Estilos al arrastrar y soltar*/
.drag-over{
    box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.5) !important;
    filter: drop-shadow(0px 0px 10px rgba(0, 255, 255, 1)) !important;
}